<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <section class="sub-header1">
      {{>navbar2}}
        <div class="txtsub-container">
            <h1 class="h-primary center">ABOUT US</h1>
            <div class="main1">
                <h1><span class="auto-input"></span></h1>
            </div>
        </div>
    </section>

    <section class="about">
        <p class="para1 center"> <span class="start">THE KHALIFA CONSTRUCTION</span> is an Engineering and Construction Company Located in Tumakuru, Karnataka. We are working in Engineering, Structural and Construction Services
            with valuable identity by giving services for 100+ Clients within short period. Since from the day one, we
            are committed to give the best services for our clients. <br>
            Our team has best Engineers dealing with construction project in every stage by their Skills, Experience,
            Knowledge and Creativity. We have been through many projects by providing both Engineering Services and
            Construction .</p>
        <hr>
        <div class="thumb">
            <h3 class="gap center">Founder</h3>
            <img src="images/Yaseen-Pasha-Software-Engineer-Bangalore.png" alt="Yaseen Pasha">
        </div>
        <div class="founder">
            <p class="ceo center">YASEEN PASHA</p>
            <p class="ceopara center">Managing Director and</p>
            <p class="ceopara center">CEO of The Khalifa Construction</p>
        </div>
    </section>

    {{>footer}}
</body>
</html>