<footer>
        <div class="footer center">
            Created By <a class="footname" href="https://yaseenpasha.com" target="_blank">Yaseen</a> Copyright &copy; 2024 yaseenpasha.com All rights reserved
        </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed(".auto-input", { strings: ["One Of The Top Leading Enginering Construction in  2021."], typeSpeed: 120, backSpeed: 120, loop: true });
    </script>
    <script src="javascript/resp.js"></script>